$primaryFont: "Lato", sans-serif;
$secondaryFont: "Playfair Display", serif;

$textLight: #ffffff;
$textDark: #000000;
$bgColor: #f9ece3;
$primaryGreen: #175b56;
$primaryYellow: #dda735;
$secondaryYellow: #c6952f;
