@import "./variables";

.menuContentMobile {
  margin: 0 auto;
  padding: 5%;
  width: 100vw;
  height: 100%;
  cursor: pointer;
  @media screen and (min-width: 990px) {
    display: none;
  }
}
.dataDescription {
  color: $textDark;
  font-size: 1rem;
  padding-bottom: 2rem;
}
.dataList {
  color: $textDark;
  list-style: none;
  line-height: 1.5;
}
.dataListItem {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  &:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    background-color: $primaryYellow;
    border-radius: 10px;
    transform: translate(-250%, 75%);
  }
}
.hidden {
  display: none;
}
